body {
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: white;
    opacity: 1;
    background: linear-gradient(135deg, #ffebd655 25%, transparent 25%) -28px 0/ 56px 56px, linear-gradient(225deg, #ffebd6 25%, transparent 25%) -28px 0/ 56px 56px, linear-gradient(315deg, #ffebd655 25%, transparent 25%) 0px 0/ 56px 56px, linear-gradient(45deg, #ffebd6 25%, #fffae8 25%) 0px 0/ 56px 56px;

}
h1 {
    color: green;
}
.form {
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    text-align: left;
}
section {
    margin: auto;
}
#journal, #grandlivre {
    margin: auto;
    margin-top: 30px;
}
.compte {
    background-color: rgba(228, 143, 46, 0.404);
    max-width: 80%;
    margin: 10px;
    padding: 10px;
    text-align: center;
    display: inline-block;
    border: solid 1px;
}
.compte div.titreCompte {
    text-align: center;
    font-weight: bold;
}
.compte table tr td {
    width: 20%;
}
.table {
    background-color: rgba(0, 255, 255, 0.404);
    max-width: 90%;
    margin: auto;
    padding: 10px;
}
.table div tr, .table tr {
    display: flex;
    justify-content: space-between;
}
td {
    padding: 5px;
}
